<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="Description goes here" />
    <meta charset="utf-8">
    <title>Slick - Minimal Coupons HTML Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="DeviantPixels.ro">

	<!-- Stylesheets -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

    <!-- Google Web fonts -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:500,700" rel="stylesheet">
</head>

<body>

<div class="bgGray">

<header class="menu-container">
    <div class="header-menu container">
        <div class="logo">
            <a href="index.html"><img src="assets/img/logo.png" alt="" /></a>
        </div>
        <ul class="menu"> 
            <li><a href="index.html">Home</a></li>
            <li class="contains-sub-menu"><a href="coupons.html">Coupons <i class="fa fa-angle-down"></i></a>
                <ul>
                    <li><a href="coupons.html">Recently Added</a></li>
                    <li><a href="coupons-with-date.html">Expiring Soon</a></li>
                    <li><a href="coupons.html">Printable</a></li>
                    <li><a href="coupons.html">Coupon Codes</a></li>
                    <li><a href="coupons.html">Popular</a></li>
                </ul>
            </li>
            <li class="contains-sub-menu"><a href="stores.html">Stores <i class="fa fa-angle-down"></i></a>
                <ul>
                    <li><a href="stores-az.html">A-Z</a></li>
                    <li><a href="stores.html">Top Stores</a></li>
                    <li><a href="stores.html">Most Voted</a></li>
                    <li><a href="stores.html">Suggest Store</a></li>
                </ul>
            </li>
            <li class="contains-sub-menu"><a href="stores.html">More <i class="fa fa-angle-down"></i></a>
                <ul>
                    <li class="contains-sub-menu"><a href="products.html">Products <i class="fa fa-angle-right"></i></a>
                        <ul>
                            <li><a href="products.html">Products</a></li>
                            <li><a href="category-products.html">Category Products</a></li>
                        </ul>
                    </li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="account.html">My Account</a></li>
                </ul>
            </li>
        </ul>
        <ul class="menu text-right">
            <li><a href="login.html">Sign In</a></li>
            <li class="hlbt"><a href="register.html">Join</a></li>
            <li class="contains-sub-menu"><a href="#">English <i class="fa fa-angle-down"></i></a>
                <ul>
                    <li class="active"><a href="#"><img src="images/flags/us_flag.svg" alt="" /> English</a></li>
                    <li><a href="#"><img src="images/flags/ro_flag.svg" alt="" /> Română</a></li>
                </ul>
            </li>
        </ul>
        <div class="mob-menu">
            <a href="#"><div class="lines"><span></span><span></span><span></span></div></a>
        </div>
    </div>

    <div class="mobile-overlay">
        <div class="mobile-menu">
            <div>
                <ul class="menu">
                    <li><a href="index.html">Home</a></li>
                    <li class="contains-sub-menu"><a href="coupons.html">Coupons <i class="fa fa-angle-down"></i></a>
                        <ul>
                            <li><a href="coupons.html">Recently Added</a></li>
                            <li><a href="coupons-with-date.html">Expiring Soon</a></li>
                            <li><a href="coupons.html">Printable</a></li>
                            <li><a href="coupons.html">Coupon Codes</a></li>
                            <li><a href="coupons.html">Popular</a></li>
                    <li class="contains-sub-menu"><a href="stores.html">Stores <i class="fa fa-angle-down"></i></a>
                        <ul>
                            <li><a href="stores-az.html">A-Z</a></li>
                            <li><a href="stores.html">Top Stores</a></li>
                            <li><a href="stores.html">Most Voted</a></li>
                            <li><a href="stores.html">Suggest Store</a></li>
                        </ul>
                    </li>
                        </ul>
                    </li>
                    <li class="contains-sub-menu"><a href="stores.html">Stores <i class="fa fa-angle-down"></i></a>
                        <ul>
                            <li><a href="stores-az.html">A-Z</a></li>
                            <li><a href="stores.html">Top Stores</a></li>
                            <li><a href="stores.html">Most Voted</a></li>
                            <li><a href="stores.html">Suggest Store</a></li>
                        </ul>
                    </li>
                    <li class="contains-sub-menu"><a href="products.html">Products <i class="fa fa-angle-down"></i></a>
                        <ul>
                            <li><a href="products.html">Products</a></li>
                            <li><a href="category-products.html">Category Products</a></li>
                        </ul>
                    </li>
                    <li class="contains-sub-menu"><a href="stores.html">More <i class="fa fa-angle-down"></i></a>
                        <ul>
                            <li class="contains-sub-menu"><a href="products.html">Products <i class="fa fa-angle-down"></i></a>
                                <ul>
                                    <li><a href="products.html">Products</a></li>
                                    <li><a href="category-products.html">Category Products</a></li>
                                </ul>
                            </li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="account.html">My Account</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="user-links">
                    <li><a href="login.html">Sign In</a></li>
                    <li class="hlbt"><a href="register.html">Join</a></li>
                    <li><a href="#" class="show-search"><i class="fas fa-search"></i></a></li>
                    <li class="contains-sub-menu"><a href="">English <i class="fa fa-angle-down"></i></a>
                        <ul>
                            <li class="active"><a href="#"><img src="images/flags/us_flag.svg" alt="" /> English</a></li>
                            <li><a href="#"><img src="images/flags/ro_flag.svg" alt="" /> Română</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div>
                <div class="container">
                    <div class="hero-search clearfix">
                        <div class="search-form-container">
                            <div class="search-input">
                                <input type="text" placeholder="ex: godaddy coupons" />
                                <ul class="options">
                                    <li class="contains-sub-menu"><a href="coupons.html">Coupons <i class="fa fa-angle-down"></i></a>
                                        <ul>
                                            <li><a href="coupons.html">Coupons</a></li>
                                            <li><a href="coupons.html">Products</a></li>
                                            <li><a href="coupons.html">Stores</a></li>
                                            <li><a href="coupons.html">Locations</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <button>Search</button>
                        </div>
                    </div>
                    <a href="#" class="mt-30 d-block close-search"><i class="fa fa-angle-left"></i> Back to menu</a>
                </div>
            </div>
        </div>
    </div>

</header>

<div class="menu-spacer"></div>

<div class="hero-title">
    <div class="container">
        <h2>Coupons</h2>
    </div>
</div>

</div>
<!--分类-->
<div class="pt-50 pb-50 hr-bottom clearfix">
    <div class="container">
        <div class="list3 owl-carousel clearfix">
            <div class="item" th:each="category : ${categoryList}">
                <div class="icon">
                    <img th:src="${category.categoryImg}" style="width: 100px; text-align: center;"></img>
                </div>
                <div class="bottom clearfix">
                    <div class="title">
                        <a href="category-coupons.html" th:text="${category.categoryName}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--分类 end-->
<div class="bgGray pt-75 pb-75 clearfix">
    <div class="container">
        <div class="mb-40 clearfix">
            <ul class="options float-left">
                <li class="contains-sub-menu pb-10"><a href="#">Recently Added <i class="fa fa-angle-down"></i></a>
                    <ul>
                        <li class="active"><a href="coupons.html">Recently Added</a></li>
                        <li><a href="coupons-with-date.html">Expiring Soon</a></li>
                        <li><a href="coupons.html">Printable</a></li>
                        <li><a href="coupons.html">Coupon Codes</a></li>
                        <li><a href="coupons.html">Popular</a></li>
                    </ul>
                </li>
            </ul>
            <a href="#" class="float-right"><i class="far fa-check-square"></i> Show active only</a>
        </div>
<!--list -->
        <div class="list clearfix">
            <div class="item" th:each="coupon : ${couponShopList}">
                <div class="image">
                    <img th:src="${coupon.couponImg1}" alt="" />
                </div>
                <div class="content">
                    <h4 th:text="${coupon.discountPriceInfo}"></h4>
                    <p th:text="${coupon.couponName}"></p>
                </div>
                <div class="bottom clearfix">
                    <a href="store.html" th:text="${coupon.shopName}"></a>
                    <a href="store-reviews.html" class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></a>
                    <div>
                        <ul class="options">
                            <li><a href="#"><i class="fas fa-share"></i></a>
                                <ul>
                                    <li><a href="coupons.html"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                                    <li><a href="coupons.html"><i class="fab fa-twitter"></i> Twitter</a></li>
                                </ul>
                            </li>
                        </ul>
                        <a href="#"><i class="far fa-heart"></i></a>
                        <input type="button" name="couponId" value="Get Coupon" class="button" th:onclick="|javascript:getCouponreviews(*{coupon.couponId})|">
                    </div>
                </div>
            </div>
        </div>
        <!--list end-->

        <div class="text-center mt-75">
            <ul class="pagination" >
                <li ><a href="#" th:if="${page} >1" th:onclick="|javascript:getPage(${page}-1)|"><i class="fas fa-angle-left"></i></a></li>
                <li th:each="num : ${#numbers.sequence(1,totolpage)}">
                    <a  href="#" th:text="${num}" th:onclick="|javascript:getPage(${num})|">1</a>
                    
                </li>
                <li><a href="#" th:if="${page}<${totolpage}" th:onclick="|javascript:getPage(${page}+1)|"><i class="fas fa-angle-right"></i></a></li>
            </ul>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 text-center text-md-left m-mb-30">
                <img src="assets/img/logo.png" class="w50" alt=""/>
            </div>
            <div class="col-6 col-md-2 text-center text-md-left">
                <h6>Company</h6>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="account.html">Account</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-2 text-center text-md-left">
                <h6>Stores</h6>
                <ul>
                    <li><a href="stores.html">All Stores</a></li>
                    <li><a href="stores.html">Top Stores</a></li>
                    <li><a href="stores.html">Most Voted</a></li>
                    <li><a href="stores.html">Suggest Store</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-2 text-center text-md-left m-mt-30">
                <h6>Coupons</h6>
                <ul>
                    <li><a href="coupons.html">Recently Added</a></li>
                    <li><a href="coupons-with-date.html">Expiring Soon</a></li>
                    <li><a href="coupons.html">Printable</a></li>
                    <li><a href="coupons.html">Coupon Codes</a></li>
                    <li><a href="coupons.html">Popular</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-2 text-center text-md-left m-mt-30">
                <h6>Connect With Us</h6>
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i> Linkedin</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer text-center text-md-left bgGray">
        <div class="container">
            Made with <i class="far fa-heart copyright"></i> by DeviantPixels (c) 2019 - All rights reserved
        </div>
    </div>
</footer>

<!-- Javascripts -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/functions.js"></script>
<script>
    function getPage(num){
        location.href="/coupons?page="+num
    }
    function getCouponreviews(couponId){
        location.href="/couponreviews?couponId="+couponId
    }
</script>
</body>
</html>
